/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "Press Start 2P";
  --main-weight-text: 400;
  --card-title-weight: 700;
  --bg-image: repeating-linear-gradient(
      to right,
      transparent 0,
      transparent 2px,
      #d3d3d3 0,
      #d3d3d3 4px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 2px,
      #d3d3d3 0,
      #d3d3d3 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --bg-color: #fff;
  --button-color: #fff;
  --border-color: #000;
  --icon-color-black: #000;
  --icon-color-red: #ff0000;
  --card-section: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}
